<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icon/w3schools_icon.png">
    <title>W3Schools Online Web </title>
    <link rel="stylesheet" href="/static/style/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/css/custom.css">
</head>

<body>
    <!--top header-->
    <nav class="navbar navbar-expand-lg top-nav">
        <div class="container-fluid">

            <a class="navbar-brand" href="home.html">
                <img src="/static/images/logo/w3schools_logo.png" alt="Logo" width="80">
            </a>

            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            
            <div class="collapse navbar-collapse" id="topNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="home.html">Tutorials</a></li>
                    <li class="nav-item"><a class="nav-link" href="home.html">Exercises</a></li>
                    <li class="nav-item"><a class="nav-link" href="home.html">Certificates</a></li>
                    <li class="nav-item"><a class="nav-link" href="home.html">Services</a></li>
                </ul>

                
                <form class="d-flex me-3" role="search">
                    <input class="form-control" type="search" placeholder="Search...">
                </form>


                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="home.html">For Teachers</a></li>
                    <li class="nav-item"><a class="nav-link" href="home.html">Upgrade</a></li>
                    <li class="nav-item"><a class="nav-link" href="home.html">Get Certified</a></li>
                    <li class="nav-item"><a class="btn btn-success" href="home.html">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--bottom header-->
    <nav class="navbar navbar-expand-lg navbar-dark bottom-nav">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bottomNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#">HTML</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">CSS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">JavaScript</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">SQL</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Python</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Java</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">PHP</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">HowTo</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">W3.CSS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">C</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">C++</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">C#</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">BOOTSTRAP</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">REACT</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">MYSQL</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">JQUERY</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">EXCEL</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">XML</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Django</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">NUMPY</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">PANDAS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">NODEJS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">DSA</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    
    <script src="/static/style/js/bootstrap.bundle.min.js"></script>
</body>

</html>